<div id="login-page">
  <div class="login-wrapper">
    <div class="login-container">
      <div class="brand-section">
        <i class="bi bi-bar-chart-fill brand-icon" aria-hidden="true"></i>
        <h1 class="brand-title">ST Insight Hub</h1>
        <p class="brand-subtitle">Forgot your password?</p>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Enter your email address", autocomplete: "email", class: "custom-input" %>
        </div>
        <%= render "layouts/flash" %>
        <div class="actions">
          <%= f.submit "SEND RESET INSTRUCTIONS" %>
        </div>
      <% end %>
      <div class="auth-links">
        <%= link_to "Back to login", new_session_path(resource_name) %>
      </div>
      <p class="powered-by">Powered By ST Datablu</p>
    </div>
    <div class="login-background"></div>
  </div>
</div>
